include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_dashboard *.css
recursive-include erpnext_dashboard *.csv
recursive-include erpnext_dashboard *.html
recursive-include erpnext_dashboard *.ico
recursive-include erpnext_dashboard *.js
recursive-include erpnext_dashboard *.json
recursive-include erpnext_dashboard *.md
recursive-include erpnext_dashboard *.png
recursive-include erpnext_dashboard *.py
recursive-include erpnext_dashboard *.svg
recursive-include erpnext_dashboard *.txt
recursive-exclude erpnext_dashboard *.pyc